<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="keywords" content="буровзрывные работы, буровзрывные работы в карьерах, буровзрывные работы Казахстан, буровзрывные работы компании, буровзрывные работы проведение, буровзрывные работы услуги, ведение буровзрывных работ, взрывные и буровзрывные работы, организация буровзрыв">
<meta name="description" content="Осуществляем буровзрывные работы на объектах горнодобывающей, нефтегазовой, энергетической промышленности в Казахстане. Владеем многолетней экспертизой в данном виде услуг.">
<meta property="og:url" content="https://geo-line.kz">
<meta property="og:title" content="Буровзрывные работы в Казахстане / Узнать цену взрывных работ под ключ ">
<meta property="og:description" content="Осуществляем буровзрывные работы на объектах горнодобывающей, нефтегазовой, энергетической промышленности в Казахстане. Владеем многолетней экспертизой в данном виде услуг.">
<meta property="og:type" content="website">

<link rel="canonical" href="https://geo-line.kz/">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="x-dns-prefetch-control" content="on">
<link rel="stylesheet" href="./markup/css/main.css" />
<link rel="stylesheet" href="./markup/css/main.css.map"/>
<link rel="icon" type="image/x-icon" href="/assets/icons/favicon.png">
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>
<title>Буровзрывные работы в Казахстане / Узнать цену взрывных работ под ключ </title>

