.banner {
  background-color:rgb(96, 96, 95);
  min-height: 100vh;
  display: flex;
  &__inner {
    text-align: center;
    color: white;
    margin-top:200px;
    background-color: rgba(207, 224, 225, 0.607);
    @media(min-width: 768px) {
      padding: 70px 50px;
    }
  }
  
  &__title {
    font-size: 2rem;
    margin-bottom: 30px;
    @media(min-width: 768px) {
      font-size: 3rem;
    }
  }
  &__subtitle {
    font-weight: normal;
    font-size: 1.5rem;
  }
  &__button {
    width: 250px;
    
  }
}
