.form-reg {
   display: flex;
   flex-direction: column;
   gap:20px;
   align-items: center;

  &__button {
   margin:0 auto;
   margin-top: auto;
   background-color: $color-orange;
   &:hover {
      background-color: $color-dark-orange;
   }
  }
}
