.contacts-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__heading {
    font-size: 32px;
    font-weight: 700;
  }
  &__list {
    padding: 0;
    list-style-type: none;
    font-weight: 400;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__social {
    display: flex;
    gap: 20px;
    &-icon {
      width: 45px;
      height: 45px;
      border-radius: 10px;
      border: 1px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
