.event-info {
  &__list.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:20px;
    & .list-item {
      margin-left: 20px;
      position: relative;
      &::before {
         content: '';
         display: block;
         width: 8px;
         height: 8px;
         background-color: $color-yellow;
         border-radius: 50%;
         position: absolute;
         top:9px;
         left: -20px;
      }
   }

  }
}
