footer {
  width: 100%;
  background-color: black;
  .footer__inner {
    height:50px;
    color:white;
    display: flex;
    align-items: center;

    h5 {
      margin: 0;
      font-weight: normal;
      font-size: 12px;
      @media(min-width:576px) {
        font-size: 1rem;
      }
    }
  }
  
}
